body
{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #282828;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 500px;
}

.header
{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    min-width: 600px;
}

#header_table
{
    width: 100%;
    margin: 0;
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    height: 100%
}

#header_table #header_table_link
{
    float: right;
    padding: 10px 15px;
    background: #c1c1c1;
    color: #FFFFFF;
    text-decoration: none;
    color: black;
}

#header_table #header_table_link:hover
{
    background: red;
    color: white;
}

#header_table #header_table_link:focus
{
    border: 0;
    background: red;
    color: white;
}

#hero_inner
{
    position: relative;
    width: 100%;
    display: inline-block;
}

.hero_left_chevron
{
    background-image: url('chevron_left.png');
    left: 0;
}

.hero_right_chevron
{
    background-image: url('chevron_right.png');
    right: 0;
}

.hero_chevron
{
    cursor: pointer;
    padding: 20px 20px;
    background-color: #c1c1c1;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin-top: -30px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    filter: alpha(opacity = 70);
}

.hero_image
{
    display: inline-block;
    height: 100%;
    position: absolute;
    left : 0;
    right: 0;
    top: 0;
    display: none;
}

#skills_container
{
    padding: 40px 0px 0px 0px;
}

#header_background
{
    background-color: black;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

#header_content
{
    height: 80px;
}

.vertical_center_helper
{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
}

.vertical_middle
{
    vertical-align: middle
}

#header_content #header_inner
{
    margin: 0px 40px;
    height: 100%;
}

#hero_image
{
    float: left;
    width: 60%;
}

#hero
{
    width: 100%;
}

#hero #cover_letter
{
    float: left;
    width: 40%;
}

#hero #cover_letter #cover_letter_inner
{
    margin: 20px 40px;
    padding-top: 80px;
}

#hero #hero_left_cell
{
    width: 40%;
    vertical-align: bottom;
}

#hero #hero_right_cell
{
    width: 60%;
}

#hero table
{
    margin: 0;
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

#hero img
{
    width: 100%;
}

#resume_body
{
    clear: both;
}

ul
{
    padding: 0px 20px;
}

li
{
    padding: 4px 0px;
}

.section
{
    padding-top: 20px;
}

.section .section_title
{
    font-size: 40px;
    color: #808080;
    float: left;
}

.section .section_filter
{
    float: right;
}

.section .section_body
{
    padding: 20px 0px 60px 0px;
    clear: both;
    overflow-x: hidden;
    white-space: nowrap;
}

.listitem
{
    border: 4px solid red;
    padding: 10px 20px;
    font-size: 30px;
    color: red;
    display: inline-block;
    width: 200px;
    height: 80px;
    margin-right: 10px;
    position: relative;
}

.listitem .listitem_inner
{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    white-space: normal;
}

.listitem_left_chevron
{
    background-image: url('chevron_left.png');
    left: 0;
}

.listitem_right_chevron
{
    background-image: url('chevron_right.png');
    right: 0;
}

.listitem_chevron
{
    cursor: pointer;
    padding: 20px 20px;
    background-color: #c1c1c1;
    position: absolute;
    top: 0;
    display: none;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    filter: alpha(opacity = 70);
}

.section_body_container
{
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 0;
    border: 0;
}

.section_body_content
{
    margin-left: 0px;
    position: relative;
}

.section_header
{
    display: block;
    padding: 0px 40px;
}

.section .section_filter .section_filter_title
{
    padding-right: 10px;
}

#section_header_table
{
    width: 100%;
}

#eee_container
{
    background-color: black;
}

#eee_header_container
{
    width: 100%;
    padding: 10px 0px;
}

#eee_header
{
    margin: 0px 40px;
}

#eee_body_container
{
    width: 100%;
    padding: 0px 0px;
    background-color: black;
}

#eee_body_container_background
{
    width: 100%;
    display: inline-block;
    min-height: 400px;
}

#eee_body_inner
{
    margin: 0px 40px;
}

.eee_header_tab
{
    font-size: 24px;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.eee_header_tab .eee_header_tab_border
{
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    background-color: red;
    position: absolute;
}

.eee_header_tab .eee_header_tab_border_selected
{
    height: 4px;
}

.eee_header_content
{
    width: 100%;
    display: none;
    padding-bottom: 20px;
}

.eee_header_content .eee_header_content_section
{
    margin-top: 30px;
}

.eee_header_content .eee_header_content_title
{
    font-size: 18px;
}

.eee_header_content .eee_header_content_date
{
    font-size: 18px;
    font-style: italic;
    color: #c1c1c1;
}

.eee_header_content .eee_header_content_body
{
    font-size: 16px;
}

.eee_header_content_selected
{
    display: block;
}

#footer_container
{
    font-size: 12px;
    color: #808080;
    padding: 60px 50px 20px 50px;
}

@media (max-width: 800px)
{
    #hero #cover_letter
    {
        width: 100%;
        clear: both;
    }

    #hero #hero_image
    {
        width: 100%;
        clear: both;
    }
}